form {
  background-color: hsl(123, 66%, 83%);
  margin: auto;
  width: 50%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px hsl(113, 67%, 51%);
  border: solid 3px hsl(113, 67%, 51%);
}

.demiColonneR {
  width: 45%;
  float: right;
}

.demiColonneL {
  width: 45%;
  float: left;
}

#lastName, #firstName{
  display:flex;
  flex-direction: column;
  width: 100%;
}
input{
  width: 100%
}


label, 
textarea {
  display: block;
  width: 95%;
  height: auto;
  border: 5px;
  border-radius: 5px;
  font-size: 1.1em;
  margin: 1rem;
}
.email {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#Submit {
  font-size: 1em;
  background-color: hsl(293, 66%, 73%);
  color: hsl(300, 100%, 31%);
  border-radius: 5rem;
  padding: 1rem;
  margin: 20px auto;
  cursor: pointer;
  display: flex;
  box-shadow: 0 0.5em;
}

button:hover {
  box-shadow: 0.1em 0.3em #hsl(197, 97%, 35%);;
  transform: translateY(5px);
}

button:active {
  background-color: hsl(197, 97%, 35%);
  color: hsl(197, 97%, 35%);
  box-shadow: 0 0.1em;
  transform: translateY(7px);
}

@media screen and (max-width: 400px) {
  form {
    width: 80%;
  }
}
input,
textarea {
  height: auto;
}
