@font-face {
  font-family: "Dosis";
  src: local("Dosis"), url(./assets/Dosis-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Dosis";
  font-style: bold;
  src: local("Dosis"), url(./assets/Dosis-Bold.ttf) format("truetype");
}

body {
  background: rgb(149, 149, 149);
  background: linear-gradient(
    180deg,
    rgba(149, 149, 149, 1) 10%,
    rgba(255, 255, 255, 1) 30%
  );
  height: 98vh;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Dosis";
}

h1 {
  font-family: "Dosis";
  font-style: bold;
}

h2 {
  font-family: "Dosis";
  font-style: bold;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 17pt;
  }
}
